body{
    background-image: url(pozadina.jpg);
}
.sunce{
    position: relative;
    top: 100px;
    left: 100px;
    width: 180px;
    height: 180px;
}
.zemlja{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 200%;
    left: 50%;
    transform: translateX(-100%) translateY(-50%) rotate(0deg);
    animation: rotacija 20s;
    transform-origin: calc(100% + 90px) 40px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotacija {
    0% {
      transform: translateX(-100%) translateY(-100%) rotate(0deg);
    }
    100% {
      transform: translateX(-100%) translateY(-100%) rotate(360deg);
    }

  }