body{
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.naslov{
    position: absolute;
    left: 43%;
    top: 70px;
    border:  2px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.171);
}
.forma {
    width: 50%;
    height: 300px;
    position: absolute;
    bottom: 200px;
    left: 25%;
    background-color:  rgba(255, 255, 255, 0.171);
}
.tekst {
    width: 50%;
    position: absolute;
    left: 25%;
    background-color:  rgba(255, 255, 255, 0.171);
    top: 250px;
    border: 2px black ;
    font-size: larger;
    padding: 10px;
    font-weight: 500;
}
.unos {
    text-align: center;
}
.bmiIndeks {
    text-align: center;
}
.button {
    text-align: center;
}
